version: '3'
networks:
  inside_network:
    driver: bridge
services:
  flask:
    build: ./inside24
    container_name: inside24
    restart: on-failure
    volumes:
      - ./inside24:/inside24
    ports:
      - "5000:5000"
    networks:
      - inside_network
    command: python inside24.py
  sqlite3:
    image: nouchka/sqlite3:latest
    container_name: sqlite3
    stdin_open: true
    tty: true
    volumes:
      - /inside24/DataBase.db
    networks:
      - inside_network